@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Benvenuto nella pagina admin</h1>
    <p class="lead">In questa pagina puoi aggiungere le partite , guardare le statistiche relative ai biglietti e impostare agli sconti.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Nuova partita</h2>
        <p>
            In questa sezione puoi aggiungere una nuova partita.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44337/Admin/Partita">Nuova partita &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Statistiche</h2>
        <p>Puoi visualizzare le statistiche sui biglietti relativi ad ogni partita e relativi all'eta delle persone che hanno comprato i biglietti.</p>
        <p><a class="btn btn-default" href="https://localhost:44337/Admin/Statistica">Statistiche &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Scontistica</h2>
        <p>Puoi impostare gli sconti relativi alle categorie di persone e scegliere la data di validita dello sconto.</p>
        <p><a class="btn btn-default" href="https://localhost:44337/Admin/Sconto">Sconti &raquo;</a></p>
    </div>
</div>