@{
    ViewBag.Title = "Come contattarci";
}
<h1>@ViewBag.Title</h1>
<h2>Stadio</h2>

<address>
    Biglietteria stadio Ennio Tardini<br />
    Parma, Viale Partigiani d'Italia,1<br />
    <abbr title="Phone">Telefono:</abbr>
    0521 170591
</address>

<h3>Mail</h3>

<address>
    <strong>Stampa:</strong>   <a href="mailto:Press@TardiniTicket.com">Press@TardiniTicket.com</a><br />
    <strong>Support:</strong>   <a href="mailto:Support@TardiniTicket.com">Support@TardiniTicket.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@TardiniTicket.com">Marketing@TardiniTicket.com</a>
</address>