@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <font color="black">
        <h1>Tardini Ticket</h1>
        <p class="lead">Tardini Ticket è il nuovo metodo facile e veloce per prenotare i biglietti della tua squadra del cuore.</p>
    </font>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tardini Ticket</h2>
        <p>
            Per poter comprare i biglietti del Parma calcio e' necessario che tu ti registri e successivamente tramite login
            entrare nella tua area riservata e poter comprare i biglietti
        </p>
    </div>
    <div class="col-md-4">
        <h2>Registrati</h2>
        <p>Registrati per poter comprare i biglietti della tua squadra del cuore.</p>
        <p><a class="btn btn-default" href="https://localhost:44337/Home/Registrazione">Registrati &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p>Se hai gia un account vai al login per poter accedere alla tua area riservata.</p>
        <p><a class="btn btn-default" href="https://localhost:44337/Home/Login">Login &raquo;</a></p>
    </div>
</div>