<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <hgroup>
        <h1>Errore 425.</h1>
        <h2>Si è verificato un errore durante la connessione al database.</h2>
    </hgroup>
</body>
</html>
